/*. {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}*/

.-000 {
    width: 16px;
    height: 16px;
    background-position: 0 0;
}

.-001 {
    width: 16px;
    height: 16px;
    background-position: -16px 0;
}

.-002 {
    width: 16px;
    height: 16px;
    background-position: -32px 0;
}

.-003 {
    width: 16px;
    height: 16px;
    background-position: -48px 0;
}

.-004 {
    width: 16px;
    height: 16px;
    background-position: -64px 0;
}

.-005 {
    width: 16px;
    height: 16px;
    background-position: -80px 0;
}

.-006 {
    width: 16px;
    height: 16px;
    background-position: -96px 0;
}

.-006a {
    width: 16px;
    height: 16px;
    background-position: -112px 0;
}

.-007 {
    width: 16px;
    height: 16px;
    background-position: -128px 0;
}

.-008 {
    width: 16px;
    height: 16px;
    background-position: -144px 0;
}

.-009 {
    width: 16px;
    height: 16px;
    background-position: -160px 0;
}

.-010 {
    width: 16px;
    height: 16px;
    background-position: -176px 0;
}

.-011 {
    width: 16px;
    height: 16px;
    background-position: -192px 0;
}

.-012 {
    width: 16px;
    height: 16px;
    background-position: -208px 0;
}

.-012a {
    width: 16px;
    height: 16px;
    background-position: -224px 0;
}

.-013 {
    width: 16px;
    height: 16px;
    background-position: -240px 0;
}

.-014 {
    width: 16px;
    height: 16px;
    background-position: -256px 0;
}

.-015 {
    width: 16px;
    height: 16px;
    background-position: -272px 0;
}

.-016 {
    width: 16px;
    height: 16px;
    background-position: -288px 0;
}

.-017 {
    width: 16px;
    height: 16px;
    background-position: -304px 0;
}

.-018 {
    width: 16px;
    height: 16px;
    background-position: -320px 0;
}

.-018a {
    width: 16px;
    height: 16px;
    background-position: -336px 0;
}

.-019 {
    width: 16px;
    height: 16px;
    background-position: -352px 0;
}

.-020 {
    width: 16px;
    height: 16px;
    background-position: -368px 0;
}

.-021 {
    width: 16px;
    height: 16px;
    background-position: -384px 0;
}

.-022 {
    width: 16px;
    height: 16px;
    background-position: -400px 0;
}

.-023 {
    width: 16px;
    height: 16px;
    background-position: -416px 0;
}

.-024 {
    width: 16px;
    height: 16px;
    background-position: -432px 0;
}

.-024a {
    width: 16px;
    height: 16px;
    background-position: -448px 0;
}

.-025 {
    width: 16px;
    height: 16px;
    background-position: -464px 0;
}

.-026 {
    width: 16px;
    height: 16px;
    background-position: -480px 0;
}

.-027 {
    width: 16px;
    height: 16px;
    background-position: -496px 0;
}

.-028 {
    width: 16px;
    height: 16px;
    background-position: -512px 0;
}

.-029 {
    width: 16px;
    height: 16px;
    background-position: -528px 0;
}

.-030 {
    width: 16px;
    height: 16px;
    background-position: -544px 0;
}

.-030a {
    width: 16px;
    height: 16px;
    background-position: -560px 0;
}

.-031 {
    width: 16px;
    height: 16px;
    background-position: -576px 0;
}

.-032 {
    width: 16px;
    height: 16px;
    background-position: -592px 0;
}

.-033 {
    width: 16px;
    height: 16px;
    background-position: -608px 0;
}

.-034 {
    width: 16px;
    height: 16px;
    background-position: -624px 0;
}

.-035 {
    width: 16px;
    height: 16px;
    background-position: -640px 0;
}

.-036 {
    width: 16px;
    height: 16px;
    background-position: -656px 0;
}

.-037 {
    width: 16px;
    height: 16px;
    background-position: -672px 0;
}

.-038 {
    width: 16px;
    height: 16px;
    background-position: -688px 0;
}

.-039 {
    width: 16px;
    height: 16px;
    background-position: -704px 0;
}

.-040 {
    width: 16px;
    height: 16px;
    background-position: -720px 0;
}

.-041 {
    width: 16px;
    height: 16px;
    background-position: -736px 0;
}

.-042 {
    width: 16px;
    height: 16px;
    background-position: -752px 0;
}

.-043 {
    width: 16px;
    height: 16px;
    background-position: -768px 0;
}

.-044 {
    width: 16px;
    height: 16px;
    background-position: -784px 0;
}

.-045 {
    width: 16px;
    height: 16px;
    background-position: -800px 0;
}

.-046 {
    width: 16px;
    height: 16px;
    background-position: -816px 0;
}

.-047 {
    width: 16px;
    height: 16px;
    background-position: -832px 0;
}

.-048 {
    width: 16px;
    height: 16px;
    background-position: -848px 0;
}

.-049 {
    width: 16px;
    height: 16px;
    background-position: -864px 0;
}

.-050 {
    width: 16px;
    height: 16px;
    background-position: -880px 0;
}

.-051 {
    width: 16px;
    height: 16px;
    background-position: -896px 0;
}

.-052 {
    width: 16px;
    height: 16px;
    background-position: -912px 0;
}

.-053 {
    width: 16px;
    height: 16px;
    background-position: -928px 0;
}

.-054 {
    width: 16px;
    height: 16px;
    background-position: -944px 0;
}

.-055 {
    width: 16px;
    height: 16px;
    background-position: -960px 0;
}

.-056 {
    width: 16px;
    height: 16px;
    background-position: -976px 0;
}

.-057 {
    width: 16px;
    height: 16px;
    background-position: -992px 0;
}

.-058 {
    width: 16px;
    height: 16px;
    background-position: -1008px 0;
}

.-059 {
    width: 16px;
    height: 16px;
    background-position: -1024px 0;
}

.-060 {
    width: 16px;
    height: 16px;
    background-position: -1040px 0;
}

.-061 {
    width: 16px;
    height: 16px;
    background-position: -1056px 0;
}

.-062 {
    width: 16px;
    height: 16px;
    background-position: -1072px 0;
}

.-063 {
    width: 16px;
    height: 16px;
    background-position: -1088px 0;
}

.-064 {
    width: 16px;
    height: 16px;
    background-position: -1104px 0;
}

.-065 {
    width: 16px;
    height: 16px;
    background-position: -1120px 0;
}

.-066 {
    width: 16px;
    height: 16px;
    background-position: -1136px 0;
}

.-066b {
    width: 16px;
    height: 16px;
    background-position: -1152px 0;
}

.-067 {
    width: 16px;
    height: 16px;
    background-position: -1168px 0;
}

.-068 {
    width: 16px;
    height: 16px;
    background-position: -1184px 0;
}

.-069 {
    width: 16px;
    height: 16px;
    background-position: -1200px 0;
}

.-070 {
    width: 16px;
    height: 16px;
    background-position: -1216px 0;
}

.-071 {
    width: 16px;
    height: 16px;
    background-position: -1232px 0;
}

.-072 {
    width: 16px;
    height: 16px;
    background-position: -1248px 0;
}

.-072a {
    width: 16px;
    height: 16px;
    background-position: -1264px 0;
}

.-073 {
    width: 16px;
    height: 16px;
    background-position: -1280px 0;
}

.-074 {
    width: 16px;
    height: 16px;
    background-position: -1296px 0;
}

.-075 {
    width: 16px;
    height: 16px;
    background-position: -1312px 0;
}

.-075b {
    width: 16px;
    height: 16px;
    background-position: -1328px 0;
}

.-076 {
    width: 16px;
    height: 16px;
    background-position: -1344px 0;
}

.-077 {
    width: 16px;
    height: 16px;
    background-position: -1360px 0;
}

.-078 {
    width: 16px;
    height: 16px;
    background-position: -1376px 0;
}

.-079 {
    width: 16px;
    height: 16px;
    background-position: -1392px 0;
}

.-080 {
    width: 16px;
    height: 16px;
    background-position: -1408px 0;
}

.-081 {
    width: 16px;
    height: 16px;
    background-position: -1424px 0;
}

.-082 {
    width: 16px;
    height: 16px;
    background-position: -1440px 0;
}

.-083 {
    width: 16px;
    height: 16px;
    background-position: -1456px 0;
}

.-084 {
    width: 16px;
    height: 16px;
    background-position: -1472px 0;
}

.-085 {
    width: 16px;
    height: 16px;
    background-position: -1488px 0;
}

.-086 {
    width: 16px;
    height: 16px;
    background-position: -1504px 0;
}

.-087 {
    width: 16px;
    height: 16px;
    background-position: -1520px 0;
}

.-087a {
    width: 16px;
    height: 16px;
    background-position: -1536px 0;
}

.-087b {
    width: 16px;
    height: 16px;
    background-position: -1552px 0;
}

.-088 {
    width: 16px;
    height: 16px;
    background-position: -1568px 0;
}

.-089 {
    width: 16px;
    height: 16px;
    background-position: -1584px 0;
}

.-090 {
    width: 16px;
    height: 16px;
    background-position: -1600px 0;
}

.-091 {
    width: 16px;
    height: 16px;
    background-position: -1616px 0;
}

.-092 {
    width: 16px;
    height: 16px;
    background-position: -1632px 0;
}

.-093 {
    width: 16px;
    height: 16px;
    background-position: -1648px 0;
}

.-094 {
    width: 16px;
    height: 16px;
    background-position: -1664px 0;
}

.-094a {
    width: 16px;
    height: 16px;
    background-position: -1680px 0;
}

.-094b {
    width: 16px;
    height: 16px;
    background-position: -1696px 0;
}

.-094c {
    width: 16px;
    height: 16px;
    background-position: -1712px 0;
}

.-094d {
    width: 16px;
    height: 16px;
    background-position: -1728px 0;
}

.-094e {
    width: 16px;
    height: 16px;
    background-position: -1744px 0;
}

.-094f {
    width: 16px;
    height: 16px;
    background-position: -1760px 0;
}

.-094g {
    width: 16px;
    height: 16px;
    background-position: -1776px 0;
}

.-094h {
    width: 16px;
    height: 16px;
    background-position: -1792px 0;
}

.-094i {
    width: 16px;
    height: 16px;
    background-position: -1808px 0;
}

.-096 {
    width: 16px;
    height: 16px;
    background-position: -1824px 0;
}

.-096b {
    width: 16px;
    height: 16px;
    background-position: -1840px 0;
}

.-096c {
    width: 16px;
    height: 16px;
    background-position: -1856px 0;
}

.-097b {
    width: 16px;
    height: 16px;
    background-position: -1872px 0;
}

.-098 {
    width: 16px;
    height: 16px;
    background-position: -1888px 0;
}

.-100 {
    width: 16px;
    height: 16px;
    background-position: -1904px 0;
}

.-101 {
    width: 16px;
    height: 16px;
    background-position: -1920px 0;
}

.-102 {
    width: 16px;
    height: 16px;
    background-position: -1936px 0;
}

.-103 {
    width: 16px;
    height: 16px;
    background-position: -1952px 0;
}

.-104 {
    width: 16px;
    height: 16px;
    background-position: -1968px 0;
}

.-105 {
    width: 16px;
    height: 16px;
    background-position: -1984px 0;
}

.-106 {
    width: 16px;
    height: 16px;
    background-position: -2000px 0;
}

.-108 {
    width: 16px;
    height: 16px;
    background-position: -2016px 0;
}

.-109 {
    width: 16px;
    height: 16px;
    background-position: -2032px 0;
}

.-110 {
    width: 16px;
    height: 16px;
    background-position: -2048px 0;
}

.-111 {
    width: 16px;
    height: 16px;
    background-position: -2064px 0;
}

.-112 {
    width: 16px;
    height: 16px;
    background-position: -2080px 0;
}

.-112b {
    width: 16px;
    height: 16px;
    background-position: -2096px 0;
}

.-112c {
    width: 16px;
    height: 16px;
    background-position: -2112px 0;
}

.-113 {
    width: 16px;
    height: 16px;
    background-position: -2128px 0;
}

.-114 {
    width: 16px;
    height: 16px;
    background-position: -2144px 0;
}

.-115 {
    width: 16px;
    height: 16px;
    background-position: -2160px 0;
}

.-116 {
    width: 16px;
    height: 16px;
    background-position: -2176px 0;
}

.-117 {
    width: 16px;
    height: 16px;
    background-position: -2192px 0;
}

.-118 {
    width: 16px;
    height: 16px;
    background-position: -2208px 0;
}

.-119 {
    width: 16px;
    height: 16px;
    background-position: -2224px 0;
}

.-120 {
    width: 16px;
    height: 16px;
    background-position: -2240px 0;
}

.-121 {
    width: 16px;
    height: 16px;
    background-position: -2256px 0;
}

.-122 {
    width: 16px;
    height: 16px;
    background-position: -2272px 0;
}

.-123 {
    width: 16px;
    height: 16px;
    background-position: -2288px 0;
}

.-124 {
    width: 16px;
    height: 16px;
    background-position: -2304px 0;
}

.-125 {
    width: 16px;
    height: 16px;
    background-position: -2320px 0;
}

.-126 {
    width: 16px;
    height: 16px;
    background-position: -2336px 0;
}

.-127 {
    width: 16px;
    height: 16px;
    background-position: -2352px 0;
}

.-128 {
    width: 16px;
    height: 16px;
    background-position: -2368px 0;
}

.-129 {
    width: 16px;
    height: 16px;
    background-position: -2384px 0;
}

.-130 {
    width: 16px;
    height: 16px;
    background-position: -2400px 0;
}

.-200 {
    width: 16px;
    height: 16px;
    background-position: -2416px 0;
}

.-201 {
    width: 16px;
    height: 16px;
    background-position: -2432px 0;
}

.-202 {
    width: 16px;
    height: 16px;
    background-position: -2448px 0;
}

.-203 {
    width: 16px;
    height: 16px;
    background-position: -2464px 0;
}

.-204 {
    width: 16px;
    height: 16px;
    background-position: -2480px 0;
}

.-205 {
    width: 16px;
    height: 16px;
    background-position: -2496px 0;
}

.-206 {
    width: 16px;
    height: 16px;
    background-position: -2512px 0;
}

.-206a {
    width: 16px;
    height: 16px;
    background-position: -2528px 0;
}

.-206ab {
    width: 16px;
    height: 16px;
    background-position: -2544px 0;
}

.-206b {
    width: 16px;
    height: 16px;
    background-position: -2560px 0;
}

.-206c {
    width: 16px;
    height: 16px;
    background-position: -2576px 0;
}

.-206d {
    width: 16px;
    height: 16px;
    background-position: -2592px 0;
}

.-206e {
    width: 16px;
    height: 16px;
    background-position: -2608px 0;
}

.-206f {
    width: 16px;
    height: 16px;
    background-position: -2624px 0;
}

.-206g {
    width: 16px;
    height: 16px;
    background-position: -2640px 0;
}

.-206h {
    width: 16px;
    height: 16px;
    background-position: -2656px 0;
}

.-206i {
    width: 16px;
    height: 16px;
    background-position: -2672px 0;
}

.-206j {
    width: 16px;
    height: 16px;
    background-position: -2688px 0;
}

.-206ja {
    width: 16px;
    height: 16px;
    background-position: -2704px 0;
}

.-206jb {
    width: 16px;
    height: 16px;
    background-position: -2720px 0;
}

.-206k {
    width: 16px;
    height: 16px;
    background-position: -2736px 0;
}

.-206l {
    width: 16px;
    height: 16px;
    background-position: -2752px 0;
}

.-206z {
    width: 16px;
    height: 16px;
    background-position: -2768px 0;
}

.-207 {
    width: 16px;
    height: 16px;
    background-position: -2784px 0;
}

.-208 {
    width: 16px;
    height: 16px;
    background-position: -2800px 0;
}

.-209 {
    width: 16px;
    height: 16px;
    background-position: -2816px 0;
}

.-210 {
    width: 16px;
    height: 16px;
    background-position: -2832px 0;
}

.-210a {
    width: 16px;
    height: 16px;
    background-position: -2848px 0;
}

.-211 {
    width: 16px;
    height: 16px;
    background-position: -2864px 0;
}

.-212 {
    width: 16px;
    height: 16px;
    background-position: -2880px 0;
}

.-213 {
    width: 16px;
    height: 16px;
    background-position: -2896px 0;
}

.-214 {
    width: 16px;
    height: 16px;
    background-position: -2912px 0;
}

.-215 {
    width: 16px;
    height: 16px;
    background-position: -2928px 0;
}

.-230 {
    width: 16px;
    height: 16px;
    background-position: -2944px 0;
}

.-231 {
    width: 16px;
    height: 16px;
    background-position: -2960px 0;
}

.-232 {
    width: 16px;
    height: 16px;
    background-position: -2976px 0;
}

.-233 {
    width: 16px;
    height: 16px;
    background-position: -2992px 0;
}

.-234 {
    width: 16px;
    height: 16px;
    background-position: -3008px 0;
}

.-235 {
    width: 16px;
    height: 16px;
    background-position: -3024px 0;
}

.-236 {
    width: 16px;
    height: 16px;
    background-position: -3040px 0;
}

.-237 {
    width: 16px;
    height: 16px;
    background-position: -3056px 0;
}

.-238 {
    width: 16px;
    height: 16px;
    background-position: -3072px 0;
}

.-239 {
    width: 16px;
    height: 16px;
    background-position: -3088px 0;
}

.-240 {
    width: 16px;
    height: 16px;
    background-position: -3104px 0;
}

.-241 {
    width: 16px;
    height: 16px;
    background-position: -3120px 0;
}

.-242 {
    width: 16px;
    height: 16px;
    background-position: -3136px 0;
}

.-243 {
    width: 16px;
    height: 16px;
    background-position: -3152px 0;
}

.-244 {
    width: 16px;
    height: 16px;
    background-position: -3168px 0;
}

.-245 {
    width: 16px;
    height: 16px;
    background-position: -3184px 0;
}

.-246 {
    width: 16px;
    height: 16px;
    background-position: -3200px 0;
}

.-247 {
    width: 16px;
    height: 16px;
    background-position: -3216px 0;
}

.-248 {
    width: 16px;
    height: 16px;
    background-position: -3232px 0;
}

.-249 {
    width: 16px;
    height: 16px;
    background-position: -3248px 0;
}

.-250 {
    width: 16px;
    height: 16px;
    background-position: -3264px 0;
}

.-251 {
    width: 16px;
    height: 16px;
    background-position: -3280px 0;
}

.-252 {
    width: 16px;
    height: 16px;
    background-position: -3296px 0;
}

.-253 {
    width: 16px;
    height: 16px;
    background-position: -3312px 0;
}

.-254 {
    width: 16px;
    height: 16px;
    background-position: -3328px 0;
}

.-255 {
    width: 16px;
    height: 16px;
    background-position: -3344px 0;
}

.-256 {
    width: 16px;
    height: 16px;
    background-position: -3360px 0;
}

.-257 {
    width: 16px;
    height: 16px;
    background-position: -3376px 0;
}

.-258 {
    width: 16px;
    height: 16px;
    background-position: -3392px 0;
}

.-259 {
    width: 16px;
    height: 16px;
    background-position: -3408px 0;
}

.-260 {
    width: 16px;
    height: 16px;
    background-position: -3424px 0;
}

.-261 {
    width: 16px;
    height: 16px;
    background-position: -3440px 0;
}

.-261a {
    width: 16px;
    height: 16px;
    background-position: -3456px 0;
}

.-261b {
    width: 16px;
    height: 16px;
    background-position: -3472px 0;
}

.-262 {
    width: 16px;
    height: 16px;
    background-position: -3488px 0;
}

.-263 {
    width: 16px;
    height: 16px;
    background-position: -3504px 0;
}

.-264 {
    width: 16px;
    height: 16px;
    background-position: -3520px 0;
}

.-265 {
    width: 16px;
    height: 16px;
    background-position: -3536px 0;
}

.-266 {
    width: 16px;
    height: 16px;
    background-position: -3552px 0;
}

.-267 {
    width: 16px;
    height: 16px;
    background-position: -3568px 0;
}

.-268 {
    width: 16px;
    height: 16px;
    background-position: -3584px 0;
}

.-269 {
    width: 16px;
    height: 16px;
    background-position: -3600px 0;
}

.-270 {
    width: 16px;
    height: 16px;
    background-position: -3616px 0;
}

.-273 {
    width: 16px;
    height: 16px;
    background-position: -3632px 0;
}

.-274 {
    width: 16px;
    height: 16px;
    background-position: -3648px 0;
}

.-275 {
    width: 16px;
    height: 16px;
    background-position: -3664px 0;
}

.-276 {
    width: 16px;
    height: 16px;
    background-position: -3680px 0;
}

.-277 {
    width: 16px;
    height: 16px;
    background-position: -3696px 0;
}

.-278 {
    width: 16px;
    height: 16px;
    background-position: -3712px 0;
}

.-279 {
    width: 16px;
    height: 16px;
    background-position: -3728px 0;
}

.-280 {
    width: 16px;
    height: 16px;
    background-position: -3744px 0;
}

.-281 {
    width: 16px;
    height: 16px;
    background-position: -3760px 0;
}

.-282 {
    width: 16px;
    height: 16px;
    background-position: -3776px 0;
}

.-283 {
    width: 16px;
    height: 16px;
    background-position: -3792px 0;
}

.-284 {
    width: 16px;
    height: 16px;
    background-position: -3808px 0;
}

.-285 {
    width: 16px;
    height: 16px;
    background-position: -3824px 0;
}

.-285b {
    width: 16px;
    height: 16px;
    background-position: -3840px 0;
}

.-285d {
    width: 16px;
    height: 16px;
    background-position: -3856px 0;
}

.-286 {
    width: 16px;
    height: 16px;
    background-position: -3872px 0;
}

.-287 {
    width: 16px;
    height: 16px;
    background-position: -3888px 0;
}

.-288 {
    width: 16px;
    height: 16px;
    background-position: -3904px 0;
}

.-289 {
    width: 16px;
    height: 16px;
    background-position: -3920px 0;
}

.-300 {
    width: 16px;
    height: 16px;
    background-position: -3936px 0;
}

.-301 {
    width: 16px;
    height: 16px;
    background-position: -3952px 0;
}

.-302 {
    width: 16px;
    height: 16px;
    background-position: -3968px 0;
}

.-303 {
    width: 16px;
    height: 16px;
    background-position: -3984px 0;
}

.-304 {
    width: 16px;
    height: 16px;
    background-position: -4000px 0;
}

.-305 {
    width: 16px;
    height: 16px;
    background-position: -4016px 0;
}

.-306 {
    width: 16px;
    height: 16px;
    background-position: -4032px 0;
}

.-307 {
    width: 16px;
    height: 16px;
    background-position: -4048px 0;
}

.-308 {
    width: 16px;
    height: 16px;
    background-position: -4064px 0;
}

.-309 {
    width: 16px;
    height: 16px;
    background-position: -4080px 0;
}

.-310 {
    width: 16px;
    height: 16px;
    background-position: -4096px 0;
}

.-311 {
    width: 16px;
    height: 16px;
    background-position: -4112px 0;
}

.-312 {
    width: 16px;
    height: 16px;
    background-position: -4128px 0;
}

.-313 {
    width: 16px;
    height: 16px;
    background-position: -4144px 0;
}

.-314 {
    width: 16px;
    height: 16px;
    background-position: -4160px 0;
}

.-315 {
    width: 16px;
    height: 16px;
    background-position: -4176px 0;
}

.-316 {
    width: 16px;
    height: 16px;
    background-position: -4192px 0;
}

.-317 {
    width: 16px;
    height: 16px;
    background-position: -4208px 0;
}

.-318 {
    width: 16px;
    height: 16px;
    background-position: -4224px 0;
}

.-319 {
    width: 16px;
    height: 16px;
    background-position: -4240px 0;
}

.-320 {
    width: 16px;
    height: 16px;
    background-position: -4256px 0;
}

.-321 {
    width: 16px;
    height: 16px;
    background-position: -4272px 0;
}

.-400 {
    width: 16px;
    height: 16px;
    background-position: -4288px 0;
}

.-401 {
    width: 16px;
    height: 16px;
    background-position: -4304px 0;
}

.-402 {
    width: 16px;
    height: 16px;
    background-position: -4320px 0;
}

.-403 {
    width: 16px;
    height: 16px;
    background-position: -4336px 0;
}

.-404 {
    width: 16px;
    height: 16px;
    background-position: -4352px 0;
}

.-405 {
    width: 16px;
    height: 16px;
    background-position: -4368px 0;
}

.-406 {
    width: 16px;
    height: 16px;
    background-position: -4384px 0;
}

.-408 {
    width: 16px;
    height: 16px;
    background-position: -4400px 0;
}

.-409 {
    width: 16px;
    height: 16px;
    background-position: -4416px 0;
}

.-410 {
    width: 16px;
    height: 16px;
    background-position: -4432px 0;
}

.-411 {
    width: 16px;
    height: 16px;
    background-position: -4448px 0;
}

.-412 {
    width: 16px;
    height: 16px;
    background-position: -4464px 0;
}

.-413 {
    width: 16px;
    height: 16px;
    background-position: -4480px 0;
}

.-414 {
    width: 16px;
    height: 16px;
    background-position: -4496px 0;
}

.-415 {
    width: 16px;
    height: 16px;
    background-position: -4512px 0;
}

.-416 {
    width: 16px;
    height: 16px;
    background-position: -4528px 0;
}

.-500 {
    width: 16px;
    height: 16px;
    background-position: -4544px 0;
}

.-501 {
    width: 16px;
    height: 16px;
    background-position: -4560px 0;
}

.-502 {
    width: 16px;
    height: 16px;
    background-position: -4576px 0;
}

.-503 {
    width: 16px;
    height: 16px;
    background-position: -4592px 0;
}

.-504 {
    width: 16px;
    height: 16px;
    background-position: -4608px 0;
}

.-505 {
    width: 16px;
    height: 16px;
    background-position: -4624px 0;
}

.-506 {
    width: 16px;
    height: 16px;
    background-position: -4640px 0;
}

.-520 {
    width: 16px;
    height: 16px;
    background-position: -4656px 0;
}

.-521 {
    width: 16px;
    height: 16px;
    background-position: -4672px 0;
}

.-530 {
    width: 16px;
    height: 16px;
    background-position: -4688px 0;
}

.-531 {
    width: 16px;
    height: 16px;
    background-position: -4704px 0;
}

.-532 {
    width: 16px;
    height: 16px;
    background-position: -4720px 0;
}

.-533 {
    width: 16px;
    height: 16px;
    background-position: -4736px 0;
}

.-534 {
    width: 16px;
    height: 16px;
    background-position: -4752px 0;
}

.-535 {
    width: 16px;
    height: 16px;
    background-position: -4768px 0;
}

.-536 {
    width: 16px;
    height: 16px;
    background-position: -4784px 0;
}

.-537 {
    width: 16px;
    height: 16px;
    background-position: -4800px 0;
}

.-538 {
    width: 16px;
    height: 16px;
    background-position: -4816px 0;
}

.-539 {
    width: 16px;
    height: 16px;
    background-position: -4832px 0;
}

.-540 {
    width: 16px;
    height: 16px;
    background-position: -4848px 0;
}

.-541 {
    width: 16px;
    height: 16px;
    background-position: -4864px 0;
}

.-542b {
    width: 16px;
    height: 16px;
    background-position: -4880px 0;
}

.-542c {
    width: 16px;
    height: 16px;
    background-position: -4896px 0;
}

.-543 {
    width: 16px;
    height: 16px;
    background-position: -4912px 0;
}

.-544 {
    width: 16px;
    height: 16px;
    background-position: -4928px 0;
}

.-546 {
    width: 16px;
    height: 16px;
    background-position: -4944px 0;
}

.-546b {
    width: 16px;
    height: 16px;
    background-position: -4960px 0;
}
